#Footer {
  margin-top: 20px; /* Adjust the value as needed */
}

.footer {
  padding: 20px;
  text-align: center;
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.footer a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: var(--icon-color-vercel);
}

.footer-icons {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.footer-icons a {
  margin: 0 10px;
  transition: color 0.3s ease;
  padding-bottom: 10px;
}

.footer-icons a:hover {
  color: var(--icon-color-vercel);
}

.footer-logo {
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer-name {
  margin-top: 10px;
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer h1 {
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  background: radial-gradient(circle, #8a2be2, #ff69b4); /* Radial gradient */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
}

.footer-text {
  font-size: 14px;
  margin: 0;
  background: linear-gradient(to right, #4ac1ff, #0061ff, #1e3c72); /* Ocean gradient */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s ease infinite;
  font-style: italic;
}

.highlight {
  color: rgb(74, 96, 193);
  animation: highlight-animation 1.5s ease-in-out infinite alternate;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes highlight-animation {
  0% {
    color: rgb(74, 96, 193);
  }
  100% {
    color: rgb(255, 105, 180);
  }
}