@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* Light Mode (Default) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark {
  background-color: #0F0F0F;
  color: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Default weight, you can change it as needed */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

