@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

/* Light Mode (Default) */
body {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark {
  background-color: #0F0F0F;
  color: #ffffff;
}

.merriweather-sans-unique {
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

/* Global 3D Effect and Hover Styles */
.effect-3d {
  perspective: 1000px;
}

.effect-3d-item {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.effect-3d-item:hover {
  transform: rotateX(15deg) rotateY(15deg) translateZ(10px);
  color: #ff6347; /* Change this color to your desired hover color */
}

.effect-3d:hover {
  color: #ff6347; /* Change this color to your desired hover color */
}

body.dark .effect-3d-item:hover {
  color: #ff6347; /* Change this color to your desired hover color for dark mode */
}

body.dark .effect-3d:hover {
  color: #ff6347; /* Change this color to your desired hover color for dark mode */
}